@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding : 0px;
    margin  : 0px;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color : rgb(24, 24, 24);
    color            : white;
}


main {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

main #square {
    font-size: 15pt;
}

main button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.white {
    background-color : wheat;
    color            : black;
}

.black {
    background-color : black;
    color            : wheat;
}

.lab {
    display: inline;
}

#hideTimeLab {
    color: rgba(245, 222, 179, 0.5);
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    padding: 10px;
}

a:link, a:visited {
    color: rgba(245, 222, 179, 0.9);
}

footer p {
    display: inline;
    padding-right: 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(245, 222, 179, 0.5);
    
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    padding: 20px;
}

header p, a {
    display: inline;
}

header a:link, a:visited {
    color: rgba(245, 222, 179, 0.9);
    text-decoration: none;
}

header #title {
    font-size: 15pt;
}

header #signin {
    float: right;
    padding-right: 40px;
}